extends layout

block content
  h1= title
  p Welcome to #{title}


  a(href="/show/demo") Оставить отзыв
  br
  a(href="/show/mobilon") Оставить контакты
  br
  a(href="/show/auto") Записаться на тест-драйв