extends layout

block content
    
    


  //button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='') просто кнопка

  p кнопка

  div.main

  table
    tr
      td
        script(type='text/javascript', src='/include/widget.js/#{key}')

  h4 Код для вставки
  pre
    = '<script type="text/javascript" src="http://webform.mobilon.ru/include/widget.js/' + key + '"></script>'

    