extends layout

block content
    
    


    //button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='') просто кнопка

    p кнопка

    div.main

    table
      tr
        td

          div#container
        

    script(type='text/javascript', src='/include/widget.js/#{key}')
    //link(type='text/css', rel='stylesheet', href='/include/style.css')  


    h4 Код для вставки
    pre
        = '<div id="container"></div>'
        br
        = '<script type="text/javascript" src="http://webform.mobilon.ru/include/widget.js/demo"></script>'

    