extends layout

block content
    
    


    button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal') просто кнопка

    div.main

    table
      tr
        td

          div#container
        


    script(type='text/javascript', src='/include/widget.js')
    link(type='text/css', rel='stylesheet', href='/include/style.css')  

    